@import url("https://fonts.googleapis.com/css2?family=Cagliostro&display=swap");
/* base styles */
* {
  margin: 0;
  font-family: "Cagliostro", sans-serif;
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 2rem auto;
  box-shadow: 0 4px 8px 0 #7871aa;
}
.navbar h1 {
  color: #7871aa;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.btn-home:hover {
  color: #7871aa;
}
.btn-new-blog:hover {
  color: #ddd;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.btn-new-blog {
  color: white;
  border-radius: 8px;
  background-color: #7871aa;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);
}
.blog-preview h2 {
  font-size: 20px;
  color: #7871aa;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #7871aa;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #ab2346;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.btn-container {
  text-align: center;
}
/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #7871aa;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #7871aa;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
